.cards__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 20px;
}

.cards__text {
    font-family: Cabinet Grotesk;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.8px;
    text-align: left;
    margin: 40px 0 34px;
}
