.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0 47px;
}

.header__title-container {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header__date-and-location {
    margin: 0;
    font-family: Cabinet Grotesk;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #000;
}

.header__user-container {
    display: flex;
    align-items: center;  
};

.header .header__add-clothes-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.header__add-clothes-btn:hover {
    cursor: pointer;
}

.header__add-clothes-btn-text { 
    font-family: Cabinet Grotesk; 
    font-size: 20px;
    font-weight: 700;
    line-height: 24.8px;
    text-align: left;
    color: #000;
}

.header__user-name {
    margin: 0 12px 0 20px;
    font-family: Cabinet Grotesk;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.8px;
    text-align: left;
    color: #000;
}

.header__profile-link {
    text-decoration: none;
}