.footer {
    display: flex;
    justify-content: space-between;
    margin: 85px 0 24px 0;
    font-family: Cabinet Grotesk;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #000;
}